// Fonts
@import url("https://fonts.googleapis.com/css?family=Mitr|Poppins");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', 'Mitr', sans-serif;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    // padding-top: 40px;
    // padding-bottom: 40px;
    background-color: #FFF;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-control{
    padding: 0.875rem 0.75rem;
    font-size: 0.95rem;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

.alert-danger{
    background-color: rgba(248, 215, 218, 0.5);;
}

#openEdge{
    font-size: 3.5em;
}

